@font-face {
  font-family: 'Gilory Medium'; /* Choose a name for your font family */
  src: url('./font/Gilroy-Medium.ttf') format('truetype'); /* Replace 'YourFontFileName-Regular' with the actual regular font file name */
  font-weight: 500;
  /* font-style: medium; */
}
@font-face {
  font-family: 'Gilory Semi-Bold'; /* Choose a name for your font family */
  src: url('./font/Gilroy-SemiBold.ttf') format('truetype'); /* Replace 'YourFontFileName-Regular' with the actual regular font file name */
  font-weight: 600;
  /* font-style: ; */
}
@font-face {
  font-family: 'Gilory Bold'; /* Choose a name for your font family */
  src: url('./font/Gilroy-Bold.ttf') format('truetype'); /* Replace 'YourFontFileName-Regular' with the actual regular font file name */
  font-weight: 700;
  /* font-style: bold; */
}
 
 
.header {
  background-color: transparent;
  color: #141414;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.middle-text {
  display: flex;
  align-items: center;
}

.menu-item {
  margin-right: 20px; /* Adjust the value as per your preference */
  font-family: 'Gilory Medium', sans-serif;
  font-size: 18px;
}

.login {
  display: flex;
  align-items: center;
}
.login p {
  font-family: 'Gilory Semi-Bold', sans-serif;
  font-size: 16px;
  color: #0065FE;
}
.toggle-menu {
  display: none;
}
.menu-list {
  display: none;
}
.menu-item.features i {
  margin-left: 2px;
  color: #141414;
  font-size: 15px;
  cursor: pointer;
}
.menu-item.url {

  color: #0065FE;

}

.signup-btn {
  background-color: #0065FE;
  color: #FFFFFF;
  border: none;
  padding: 12px 24px 12px 24px;

  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  font-family: 'Gilory Semi-Bold', sans-serif;
  font-size: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;

}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Gilory Bold', sans-serif;
  color: #141414;
  text-align: center;
  position: relative;

}


h1 img {
  display: block;
  margin: 0 auto;
}

.hero h5 {
  font-size: 18px;
  /* margin-bottom: 20px; */
  text-align: center;
  font-family: 'Gilory Medium', sans-serif;
  color: #141414;

}

.hero .url-text{
  color: #0065FE;
}

.button-container {
  margin-top: 20px;
}

.button {
  display: inline-block;



  text-decoration: none;

  background-color: #0065FE;
  color: #FFFFFF;
  border: none;
  padding: 12px 24px 12px 24px;

  border-radius: 100px;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Gilory Semi-Bold', sans-serif;
  font-size: 16px;
}
.learnmore {



  text-decoration: none;
  color: #0065FE;
  border: none;

  cursor: pointer;

  font-family: 'Gilory Semi-Bold', sans-serif;
  font-size: 16px;
}

.button:hover {
  background-color: #1976d2;
}

.sub-hero-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 0 20px;
  position: relative;
}

.container {
  position: relative;
  z-index: 1;
  width: 500px;
  height: 200px;
  background-color: #f1f1f1;
  border-radius: 24px;
  border: 0.5px solid #005AE2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;


}

.container .content {
  padding: 0 20px;/* Add left and right padding */
}

.background-image {
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  transform: translateX(-65%);
  width: 100%;
  height: 230px; /* Set the desired height of the background image */
  background: url('img/sub-hero-bg.png') no-repeat center bottom;
  z-index: -1;
}

.content {
  padding: 20px;
  text-align: center;
}
.content img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.content h1 {
  text-align: center;
  font-family: 'Gilory Medium', sans-serif;
  font-size: 16px;
  color:#141414;
  margin-bottom: 10px;
}

.possibility-body{
  padding: 0px 70px;
}

.possibility{
  display: flex;
flex-direction: row;
}

.possibility{
  font-family: 'Gilory Bold', sans-serif;
  font-size: 40px;
  color:#141414;
  display: flex;
  justify-content: center;
}
.row{

      display: flex;
      justify-content: space-between;

}


 .sub-row{
  font-family: 'Gilory Medium', sans-serif;
  font-size: 16px !important;
  color:#141414;


}
.top-row{
  font-family: 'Gilory Semi-Bold', sans-serif;
  font-size: 32px !important;
  line-height: 0.9;


}

.item {
  flex: 1;
  padding: 10px;
  font-size: 40px;
  color:#141414;
  padding: 0;
  /* border: 1px solid #ccc; */
}

.large {
  flex-grow: 2;
  font-family: 'Gilory Bold', sans-serif;
  font-size: 40px;
  color:#141414;
}

.item .span-possibility{
  color: #1976d2;
}

.scissor{
  display: flex;
flex-direction: row;
padding-top: 30px;
padding-left: 20px;
padding-right: 120px;
}



.scissor-row{

  display: flex;
  justify-content: center

}
.why-choose{
  width: 80%;
  padding-right: 80px;
}

.why-choose-container {
  display: flex;
  align-items: center;
  font-family: 'Gilory Bold', sans-serif;
  font-size: 20px;
}
.why-choose-container span {
  color: #005AE2;
}
.why-choose-scissor-img {
  float: left;
  margin-right: 8px; 
  height: 25px;
}

.scissor .second-row{
  padding-bottom: 30px;
}

.scissor-row p{
  font-family: 'Gilory Medium', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #141414;
  text-align: justify;
}
.scissor-row h2{
  line-height: 1;
}
.main-content{
  padding-left: 50px;
}

.perfect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}



.perfect-container img {
  float: left;
  margin-right: 8px; 
  height: 25px;
}

.perefct-container p{
  text-align: center;
}

.perfect-h2-text {
  text-align: center;
  font-family: 'Gilory Bold', sans-serif;
  font-size: 40px;
  color: #141414;
  line-height: 0.3;
} 
.perfect-h2-text span{
  color: #005AE2;
} 

.perfect p {
  text-align: center;
  font-family: 'Gilory Medium', sans-serif;
  font-size: 16px;
  color: #141414;
} 

.pricing{

  height: 100vh;

}

.pricing-image{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.pricing-button{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.select-pricing-btn   {
  background-color: #0065FE;
  color: #FFFFFF;
  border: none;
  padding: 12px 24px 12px 24px;

  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  font-family: 'Gilory Semi-Bold', sans-serif;
  font-size: 16px;
}

.custom-pricing-btn {
  background-color: #FFFFFF;
  color: #0065FE;
  border: 1px solid #0065FE;
  padding: 12px 24px 12px 24px;

  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  font-family: 'Gilory Semi-Bold', sans-serif;
  font-size: 16px;
}

.faq{
  background: url('img/faq_bg_img.png') no-repeat;
  background-position: left center;
  /* opacity: 0.5; */
}

.faq-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.faq-container h2 {
  text-align: left;
}

.faq-container img {
  margin-right: 10px;
}

.accordion-container {

  width: 850px;
  margin: 0px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}

.accordion {
  background-color: transparent;
  font-family: 'Gilory Medium', sans-serif;
  font-size: 20px;
  color:#141414;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\002B';
  color: #141414;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: 'Gilory Medium', sans-serif;
  font-size: 16px;
  color:#141414;
  line-height: 1.5;
}

.accordion-container hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 750px;
  margin: 0px auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  padding-right: 20px;
}

.form-section{
  padding-top: 10px;
  margin-top: 200px;
  background: linear-gradient(to right, #1E3448, #1E3448);
  height: 80vh;
  position: relative;
}

.top-left-image {
  position: absolute;
  top: 0;
  left: 0;

}

.top-right-image {
  position: absolute;
  top: 0;
  right: 0;

}
.form-container {

  width: 300px;
  margin: 90px auto;
  background-color: white;
  padding: 45px 45px;
  border-radius: 12px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 8px 12px 8px 12px;
  border-radius: 12px;
  border: 1px solid #3284FF;
}

.input-row{
  width: 70% !important;
  padding: 8px 12px 8px 12px;
  border-radius: 12px;
  border: 1px solid #3284FF !important;
  margin-left: 30px;
}

select {
  width: 120%;
  padding: 8px 12px 8px 12px;
  border-radius: 12px;
  border: 1px solid #3284FF;
  font-family: 'Gilory Medium', sans-serif;
  font-size: 12px;
  color: #3284FF;
}

input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder {
    font-family: 'Gilory Medium', sans-serif;
    font-size: 12px;
    color: #3284FF;
  }

  .form-row{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .image-button {
    width: 100%;
    background-color: #0065FE;
    color: #FFFFFF;
    border: none;
    padding: 8px 18px 8px 18px;
  text-align: center;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Gilory Semi-Bold', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adjust the gap between image and text */
  }
  .trim-button{
    padding-top: 10px;
  }

  .image-button img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  .trim-url-p p{
    font-family: 'Gilory Medium', sans-serif;
    font-size: 14px;
    color: #4991FF;
  }
  .trim-url-p p span{
    font-family: 'Gilory Bold', sans-serif;
    font-size: 14px;
    color: #3284FF;
  }


  .footer-above-section{
    padding-top: 10px;
    margin-top: 200px;
    background: linear-gradient(to right, #1E3448, #1E3448);
    /* height: 50vh; */
    position: relative;

  }

  .footer-above-section-container{
    /* width: 1000px; */
    margin: 90px auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .footer-above-section-container h2{
    font-family: 'Gilory Bold', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
  }

  .footer-above-section{
    /* padding-top: 10px;
    margin-top: 200px;
    background: linear-gradient(to right, #1E3448, #1E3448); */
    height: 50vh;
    position: relative;
  }

  footer {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-left: 100px; 
    padding-top: 50px; 
    position: relative;
    /* height: 50vh; */
  }
  
  .footer-row {
    display: flex;
    justify-content: center
  }

  .footer-main-content{
    padding-right: 80px;
  }

  .footer-second-column{
    padding-top: 50px;
  }
  .feat{
    padding-top: 18px !important;
  }

  .fa-brands{
    color: #141414;
    font-size: 20px;
    padding-right: 10px;
  }

  footer p{
    color: #112232;
    font-family: 'Gilory Medium', sans-serif;
    font-size: 16px;
  }
  footer h3{
    color: #071827;
    font-family: 'Gilory Bold', sans-serif;
    font-size: 16px;
  }
  .footer-copyright{
    display: flex;
    justify-content: right;
    padding-right: 30px;
  }

  .footer-copyright p{
    padding-right: 10px;
    color: #112232;
    font-family: 'Gilory Medium', sans-serif;
    font-size: 14px;
  }